html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}
body{background-color:#fff;margin: 0;}
section{display:block}
video{display:inline-block;vertical-align:baseline}
a{background-color:transparent}
a:active,a:hover{outline:0}
img{border:0}
button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer}
button,input,select,textarea{color:inherit;font:inherit;margin:0}
button{overflow:visible}
button,select{text-transform:none}
button[disabled],html input[disabled]{cursor:default}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}
input{line-height:normal}
input[type="checkbox"],input[type="radio"]{-webkit-box-sizing:border-box;box-sizing:border-box;padding:0}
input[type="number"]::-webkit-inner-spin-button,input[type="number"]::-webkit-outer-spin-button{height:auto}
input[type="search"]{-webkit-appearance:textfield;-webkit-box-sizing:content-box;box-sizing:content-box}
input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}
fieldset{padding:0;margin:0;border:0;min-width:0}
legend{border:0;padding:0}
a,a:visited{text-decoration:underline}
select{background:#fff !important}
h3,.h3{font-size:24px}
h4,.h4{font-size:18px}
h3,h4,.h4,.h3{font-family:inherit;font-weight:500;line-height:1.1;color:inherit}
.clearfix:before,.clearfix:after,.dl-horizontal dd:before,.dl-horizontal dd:after,.container:before,.container:after,.container-fluid:before,.container-fluid:after,.row:before,.row:after,.form-horizontal .form-group:before,.form-horizontal .form-group:after,.btn-toolbar:before,.btn-toolbar:after,.btn-group-vertical > .btn-group:before,.btn-group-vertical > .btn-group:after,.nav:before,.nav:after,.navbar:before,.navbar:after,.navbar-header:before,.navbar-header:after,.navbar-collapse:before,.navbar-collapse:after,.pager:before,.pager:after,.panel-body:before,.panel-body:after,.modal-footer:before,.modal-footer:after{content:" ";display:table}
.clearfix:after,.dl-horizontal dd:after,.container:after,.container-fluid:after,.row:after,.form-horizontal .form-group:after,.btn-toolbar:after,.btn-group-vertical > .btn-group:after,.nav:after,.navbar:after,.navbar-header:after,.navbar-collapse:after,.pager:after,.panel-body:after,.modal-footer:after{clear:both}
.btn-primary{color:#ffffff;background-color:#ff6a00;border-color:#ff6a00}
.btn-primary:hover,.btn-primary:focus,.btn-primary.focus,.btn-primary:active,.btn-primary.active,.open > .dropdown-toggle.btn-primary{color:#ffffff;background-color:#cc5500;border-color:#c25100}
.btn-primary:active,.btn-primary.active,.open > .dropdown-toggle.btn-primary{background-image:none}
.btn-primary.disabled,.btn-primary[disabled],fieldset[disabled] .btn-primary,.btn-primary.disabled:hover,.btn-primary[disabled]:hover,fieldset[disabled] .btn-primary:hover,.btn-primary.disabled:focus,.btn-primary[disabled]:focus,fieldset[disabled] .btn-primary:focus,.btn-primary.disabled.focus,.btn-primary[disabled].focus,fieldset[disabled] .btn-primary.focus,.btn-primary.disabled:active,.btn-primary[disabled]:active,fieldset[disabled] .btn-primary:active,.btn-primary.disabled.active,.btn-primary[disabled].active,fieldset[disabled] .btn-primary.active{background-color:#ff6a00;border-color:#ff6a00}
.btn-primary .badge{color:#ff6a00;background-color:#ffffff}
#header,#navi{background-color:#F7F9FA}
.dropdown-cate{display:none}
.crumb{width:1200px;margin:0 auto}
.crumb-wrap{height:44px;font-size:13px;line-height:44px;color:#71797F}
.crumb a{margin-right:2px}
.product-wrap{font-size:0;position:relative}
.product-intro{width:1200px;margin:0 auto}
.product-preview{display:inline-block;width:460px;vertical-align:top;border-radius:8px;overflow:hidden}
.product-preview .preview-bigimage{position:relative;width:100%;height:500px;text-align:center;overflow:hidden;border:1px solid #E9ECF0;border-radius:8px}
.product-preview .preview-bigimage img{width:100%}
.product-preview .preview-bigimage .pro-video{position:absolute;top:0;left:0;width:100%;height:100%;z-index:1000}
.product-preview .preview-bigimage .pro-video-play{position:absolute;top:428px;left:388px;width:44px;height:44px;cursor:pointer}
.product-preview .preview-bigimage .pro-video-play span.icon{width:44px;height:44px}
.product-preview .preview-bigimage .pro-video-play span.icon-videojs{background-position:0 -318px}
.product-preview .preview-bigimage .pro-video-box{display:none}
.product-preview .preview-bigimage .pro-video-box .video-js .vjs-big-play-button{width:44px;height:44px;background:url(//img02.hua.com/pc/pimg/home/common_sprite.png) no-repeat;background-position:0 -318px}
.product-preview .preview-bigimage .pro-video-close{position:absolute;top:10px;right:10px;z-index:1001;width:16px;height:16px;background:url(//img02.hua.com/pc/pimg/vedioImg/closed_white.png) no-repeat center center;background-size:contain;cursor:pointer}
.product-preview .preview-bigimage .swiper-container{height:100%}
.product-preview .preview-bigimage .swiper-wrapper{height:100%}
.product-preview .preview-bigimage .swiper-slide{position:relative;width:100%}
.product-preview .preview-bigimage .swiper-slide-active img{position:absolute;top:0;left:0;right:0;bottom:0;margin:auto;width:100%}
.product-preview .preview-list{height:80px;margin-top:20px;overflow:hidden;text-align:center}
.product-preview .preview-list-item{position:relative;display:inline-block;width:80px;height:80px;margin-left:20px;overflow:hidden;text-align:center;border:1px solid #E9ECF0;padding:1px;cursor:pointer;border-radius:8px}
.product-preview .preview-list-item:first-child{margin-left:0}
.product-preview .preview-list-item.active{border:2px solid #FF734C;padding:0}
.product-preview .preview-list-item img{position:absolute;top:0;left:0;right:0;bottom:0;margin:auto;width:76px}
.product-info{display:inline-block;width:740px;padding-left:80px;vertical-align:top}
.product-info-area{position:relative;min-height:418px;padding-bottom:94px}
.product-info .title-name{font-size:22px;line-height:22px;color:#232628;font-weight:bold}
.product-info .title-li{margin-top:8px}
.product-info .title-point{font-size:16px;line-height:20px;color:#FF3D12}
.product-info .title-desc{margin-left:12px;font-size:16px;line-height:20px;color:#232628}
.product-info .price{position:relative;margin-top:12px;padding:12px 0;background:#F3F5F7;border-radius:8px 8px 0px 0px}
.product-info .price-label{display:inline-block;width:80px;padding-left:12px;font-size:13px;line-height:18px;color:#71797F;vertical-align:middle}
.product-info .price .sale-count{position:absolute;line-height:18px;color:#232628}
.product-info .price .sale-count span{color:#FF3D12}
.product-info .price-box{display:inline-block;vertical-align:bottom}
.product-info .price-box span{vertical-align:bottom}
.product-info .price-box .sell-price{display:inline-block;font-size:30px;line-height:30px;color:#FF3D12;font-weight:bold;opacity:0}
.product-info .price-box .sell-price:before{content:"￥";display:inline-block;font-size:24px;line-height:18px}
.product-info .price-box .discount-tag-list{display:inline-block;vertical-align:top;margin-left:4px;margin-top:5px}
.product-info .price-box .discount-tag-item{display:inline-block;margin-left:4px;padding:0 4px;font-size:12px;line-height:18px;color:#FF734C;font-weight:bold;background:#FFF0EC;border-radius:2px;border:1px solid rgba(255,115,76,0.2)}
.product-info .price-box .original-price{display:inline-block;margin-left:16px;color:#71797F;font-size:13px;line-height:18px}
.product-info .price-box .original-price .s-price{vertical-align:middle;text-decoration:line-through;margin-left:2px}
.product-info .price-time{margin-top:12px;display:none}
.product-info .price-time-group{display:inline-block;vertical-align:middle}
.product-info .price-time-item{display:inline-block;vertical-align:middle;padding:3px 10px;color:#fff;font-size:13px;line-height:18px;font-weight:600;border-radius:12px;border:1px solid rgba(255,255,255,0.8);margin-right:10px;cursor:pointer}
.product-info .price-time-item.active{background:#FFDDBF;color:#BF551D;opacity:1;border-color:transparent}
.product-info .price.active{background-color:#FF5147;background:linear-gradient(90deg,#FF734D 0%,#FF5147 100%)}
.product-info .price.active .price-label{color:rgba(255,255,255,0.8)}
.product-info .price.active .price-box .sell-price{color:#fff}
.product-info .price.active .price-box .discount-tag-item{color:#FF734C;background:#FFF0EC;border:1px solid rgba(255,115,76,0.2)}
.product-info .price.active .price-box .original-price{color:rgba(255,255,255,0.8)}
.product-info .price.active .price-time{display:block}
.product-info .price.active .sale-count{color:#fff}
.product-info .price.active .sale-count span{color:#fff}
.product-info .huayu{padding:12px 0;background:#F7F9FA;border-radius:0px 0px 8px 8px}
.product-info .huayu .huayu-item+.huayu-item{margin-top:12px}
.product-info .huayu-label{display:inline-block;width:80px;padding-left:12px;font-size:13px;line-height:18px;color:#71797F;vertical-align:top}
.product-info .huayu-content{display:inline-block;width:580px;font-size:13px;line-height:18px;color:#232628;vertical-align:top;text-align:justify;padding-right:36px}
.product-info .delivery-item{margin:10px 0}
.product-info .delivery-item.sku-product{display:none}
.product-info .delivery-item.sku-product .delivery-label{line-height:44px}
.product-info .delivery-label,.product-info .delivery-content{display:inline-block;font-size:13px;line-height:24px;vertical-align:top}
.product-info .delivery-label{width:80px;padding-left:12px;color:#71797F}
.product-info .delivery-content{color:#232628}
.product-info .delivery-content span.icon{width:12px;height:12px;margin-top:6px;margin-right:4px}
.product-info .delivery-content span.icon-remind{background-position:-88px 0}
.product-info .delivery-content-time{display:block;padding-left:80px;color:#71797F}
.product-info .delivery-content-remind{width:560px}
.product-info .delivery-addr .delivery-label{line-height:24px}
.product-info .delivery-address{float:none;position:relative;display:inline-block;min-width:164px;height:24px;margin-right:16px}
.product-info .delivery-address.open .delivery-area span.icon-deliarr{-webkit-transform:rotate(180deg);-ms-transform:rotate(180deg);transform:rotate(180deg)}
.product-info .delivery-address.open .delivery-area-pop:before{position:absolute;content:"";top:-1px;left:1px;right:1px;height:2px;background:#fff;z-index:1011}
.product-info .delivery-area{position:relative;display:inline-block;width:100%;padding:0 8px;font-size:13px;color:#232628;line-height:22px;border:1px solid #E9ECF0;z-index:1009}
.product-info .delivery-area span.icon{float:right;width:10px;height:10px;margin-top:5px;margin-left:5px}
.product-info .delivery-area span.icon-deliarr{background-position:0 -403px;-webkit-transition:-webkit-transform 0.1s;transition:-webkit-transform 0.1s;-o-transition:transform 0.1s;transition:transform 0.1s;transition:transform 0.1s,-webkit-transform 0.1s}
.product-info .delivery-area-text{color:#232628}
.product-info .delivery-area-text.active{color:#FF734C}
.product-info .delivery-area-pop{position:relative;float:none;height:0}
.product-info .delivery-area-pop .content{top:100%;left:0;padding:12px;border-color:#E9ECF0;z-index:1010}
.product-info .delivery-area-pop .content .tab-con li{font-size:12px}
.product-info .delivery-range-detail{position:relative;width:560px;max-height:24px;overflow:hidden}
.product-info .delivery-range-detail p{display:block;padding-right:20px;color:rgba(35,38,40,0.9);white-space:normal}
.product-info .delivery-range-detail span.icon{position:absolute;width:10px;height:10px;right:0;bottom:5px}
.product-info .delivery-range-detail span.icon-arrow{background-position:0 -403px;-webkit-transform:rotate(180deg);-ms-transform:rotate(180deg);transform:rotate(180deg);-webkit-transition:-webkit-transform 0.1s;transition:-webkit-transform 0.1s;-o-transition:transform 0.1s;transition:transform 0.1s;transition:transform 0.1s,-webkit-transform 0.1s}
.product-info .delivery-range-detail.active p{overflow:hidden;-o-text-overflow:ellipsis;text-overflow:ellipsis;white-space:nowrap}
.product-info .delivery-range-detail.active span.icon-arrow{-webkit-transform:rotate(0deg);-ms-transform:rotate(0deg);transform:rotate(0deg)}
.product-info .delivery .sku-list{display:inline-block;width:560px;vertical-align:top}
.product-info .delivery .sku-box{position:relative;display:inline-block;height:44px;line-height:44px;margin-bottom:10px;margin-right:20px;overflow:hidden;cursor:pointer}
.product-info .delivery .sku-box img{width:40px;vertical-align:top}
.product-info .delivery .sku-name{padding:0 16px;font-size:14px;color:#232628;vertical-align:top}
.product-info .delivery .sku-box span.icon-chosen{display:none;position:absolute;bottom:0;right:0;width:22px;height:22px;background-position:0 -374px}
.product-info .delivery .sku-box.active .sku-border-top,.product-info .delivery .sku-box:hover .sku-border-top,.product-info .delivery .sku-box.active .sku-border-right,.product-info .delivery .sku-box:hover .sku-border-right,.product-info .delivery .sku-box.active .sku-border-bottom,.product-info .delivery .sku-box:hover .sku-border-bottom,.product-info .delivery .sku-box.active .sku-border-left,.product-info .delivery .sku-box:hover .sku-border-left{background:#FF734C}
.product-info .delivery .sku-box.active .sku-border-top,.product-info .delivery .sku-box:hover .sku-border-top,.product-info .delivery .sku-box.active .sku-border-bottom,.product-info .delivery .sku-box:hover .sku-border-bottom{height:2px}
.product-info .delivery .sku-box.active .sku-border-right,.product-info .delivery .sku-box:hover .sku-border-right,.product-info .delivery .sku-box.active .sku-border-left,.product-info .delivery .sku-box:hover .sku-border-left{width:2px}
.product-info .delivery .sku-box.active span.icon-chosen{display:block}
.product-info .delivery .sku-border-top,.product-info .delivery .sku-border-right,.product-info .delivery .sku-border-bottom,.product-info .delivery .sku-border-left{position:absolute;background:#E9ECF0}
.product-info .delivery .sku-border-top{top:0;left:0;right:0;height:1px}
.product-info .delivery .sku-border-right{right:0;top:0;bottom:0;width:1px}
.product-info .delivery .sku-border-bottom{bottom:0;left:0;right:0;height:1px}
.product-info .delivery .sku-border-left{left:0;top:0;bottom:0;width:1px}
.product-info .btn-group{position:absolute;bottom:12px}
.product-info .btn-group-item{display:inline-block;width:208px;height:56px;margin-right:40px;border-radius:28px;font-size:22px;font-weight:bold;text-align:center}
.product-info .btn-group-guanzhu{display:inline-block;margin-top:18px;font-size:14px;color:#232628;line-height:20px}
.product-info .btn-group-guanzhu span.icon{width:16px;height:16px;margin-top:4px;margin-right:8px}
.product-info .btn-group-guanzhu span.icon-collect{background-position:-52px -48px}
.product-info .btn-group-guanzhu span.icon-collected{background-position:-78px -48px}
.product-info .btn-addcart{color:#FF734C;line-height:54px;border:1px solid rgba(255,115,76,0.2);background:#FFF0EC}
.product-info .btn-addcart span.icon{width:24px;height:24px;margin-top:15px;margin-right:10px}
.product-info .btn-addcart span.icon-addcartbtn{background-position:-306px -102px}
.product-info .btn-soonbuy{color:#fff;line-height:56px;background:#FF734C;background:-webkit-gradient(linear,left top,right top,from(#ff734c),to(#ff3d12));background:-webkit-linear-gradient(left,#ff734c 0%,#ff3d12 100%);background:-o-linear-gradient(left,#ff734c 0%,#ff3d12 100%);background:linear-gradient(90deg,#ff734c 0%,#ff3d12 100%)}
.product-info .btn-invalid{background:#B4BABF;color:#fff;line-height:56px}
.product-info-comment{margin-top:40px;position:relative;color:#232628;height:80px;overflow:hidden}
.product-info-comment .swiper-wrapper{width:608px}
.product-info-comment .swiper-slide .swiper-cm-header{height:18px;line-height:18px;font-size:12px;color:#71797F}
.product-info-comment .swiper-slide .swiper-cm-header .c-name{font-size:13px}
.product-info-comment .swiper-slide .swiper-cm-header .c-time{margin-left:60px}
.product-info-comment .swiper-slide .swiper-cm-header .c-addr{margin-left:10px}
.product-info-comment .swiper-slide .swiper-cm-text{margin-top:6px;font-size:13px;line-height:18px;text-align:justify;display:-webkit-box;-webkit-box-orient:vertical;-webkit-line-clamp:2;overflow:hidden}
.product-info-comment .swiper-nav{position:absolute;right:0;top:24px}
.product-info-comment .swiper-nav .ct-button{padding:2px;cursor:pointer}
.product-info-comment .swiper-nav .iconfont{font-size:12px;color:#71797F}
#ajax_pricebox{display:none}
.recommend{width:1200px;margin:60px auto 0;padding:24px;background:#F7F9FA;border-radius:8px;overflow:hidden}
.recommend-header{margin-left:16px}
.recommend-header img{display:inline-block;width:54px;background-color:#fff;border-radius:4px;overflow:hidden}
.recommend-header span.name{font-size:16px;line-height:20px;font-weight:600;color:#232628;margin:0 8px}
.recommend-header a{display:inline-block;padding:1px 8px 1px 10px;border-radius:9px;height:18px;line-height:14px;border:1px solid #B4BABF;color:#71797F;font-size:12px}
.recommend-header a .iconfont{font-size:12px}
.recommend-header a:hover{color:#FF734C;border-color:#FF3D12}
.recommend-list{margin-top:18px;font-size:0}
.recommend-item{display:inline-block;vertical-align:top;width:160px;margin:0 16px;text-align:center}
.recommend-item-pic{border-radius:8px;overflow:hidden}
.recommend-item-pic img{width:100%}
.recommend-item-name{margin-top:4px;font-size:13px;line-height:18px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
.recommend-item-price{font-size:14px;line-height:20px;font-weight:600}
.recommend-item-price:before{content:"￥";display:inline-block;font-size:1em}
.wrap{width:1200px;margin:60px auto 0}
.wrap .aside{float:left;width:200px}
.wrap .aside-item{background:#F7F9FA;border-radius:8px;overflow:hidden;margin-bottom:20px}
.wrap .aside-hd{height:50px;padding-left:20px;font-size:16px;line-height:50px;color:#232628;font-weight:600}
.wrap .aside-bd{padding:0 20px 20px;color:#232628}
.wrap .aside .browse-list{clear:both}
.wrap .aside .browse-item{height:60px;margin-bottom:10px;overflow:hidden;clear:both}
.wrap .aside .browse-item-pic{float:left;width:60px;height:60px}
.wrap .aside .browse-item-pic img{max-width:100%}
.wrap .aside .browse-item-info{margin-left:70px}
.wrap .aside .browse-item-info .p-title{font-size:13px;line-height:18px;height:36px;display:-webkit-box;-webkit-box-orient:vertical;-webkit-line-clamp:2;overflow:hidden}
.wrap .aside .browse-item-info .p-price{font-size:14px;line-height:20px;font-weight:600}
.wrap .aside .hot-list{clear:both}
.wrap .aside .hot-item{margin-bottom:20px}
.wrap .aside .hot-item-pic{width:100%;border-radius:8px;overflow:hidden}
.wrap .aside .hot-item-pic img{max-width:100%}
.wrap .aside .hot-item-info{padding-top:4px;text-align:center}
.wrap .aside .hot-item-info .p-title{font-size:13px;line-height:18px;height:36px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
.wrap .aside .hot-item-info .p-price{font-size:14px;line-height:20px;font-weight:600}
.wrap .detail{float:left;width:980px;margin-left:20px}
.wrap .detail-hd{width:980px;height:50px;background:#F3F5F7;margin-bottom:20px}
.wrap .detail-hd-wp{position:relative}
.wrap .detail-hd ul{display:inline-block}
.wrap .detail-hd ul li{display:inline-block;padding:0 50px;font-size:16px;line-height:50px;height:50px;color:#232628;vertical-align:top;cursor:pointer}
.wrap .detail-hd ul li span{color:#FF3D12}
.wrap .detail-hd ul li.active{position:relative;font-weight:600}
.wrap .detail-hd ul li.active:before{position:absolute;display:inline-block;content:"";left:50%;bottom:0;width:100px;margin-left:-50px;height:3px;background:#FF734D;border-radius:2px}
.wrap .detail-hd .fixed-group{position:absolute;right:20px;top:7px;display:none}
.wrap .detail-hd .fixed-price{display:inline-block;margin-right:24px;font-size:18px;color:#232628;font-weight:bold;line-height:16px;vertical-align:middle}
.wrap .detail-hd .fixed-price span{font-size:26px}
.wrap .detail-hd .fixed-btn{display:inline-block;width:104px;height:36px;line-height:36px;font-size:16px;color:#ffffff;font-weight:600;text-align:center;background-color:#FF3D12;background:linear-gradient(90deg,#FF734C 0%,#FF3D12 100%);border-radius:20px;vertical-align:middle}
.wrap .detail.fixed .fixed-group{display:block}
.wrap .detail.fixed .detail-hd{position:fixed;top:0;z-index:100}
.wrap .detail-item{position:relative;width:980px;margin-bottom:40px;font-size:0}
.wrap .detail-item-title{padding:15px 30px;background:#F3F5F7;font-size:16px;line-height:20px;color:#232628;font-weight:bold;border-radius:8px 8px 0px 0px;overflow:hidden}
.wrap .detail-product-info{width:980px;padding:20px 52px;background:#F7F9FA;border-radius:0px 0px 8px 8px;margin:0 auto}
.wrap .detail-product-info-l{position:relative;display:inline-block;width:107px;vertical-align:middle}
.wrap .detail-product-info-l p{font-size:14px;color:#232628;height:20px;font-weight:600}
.wrap .detail-product-info-r{display:inline-block;width:769px;padding-left:53px;border-left:1px solid #E9ECF0;vertical-align:middle}
.wrap .detail-product-info-label,.wrap .detail-product-info-detail{display:inline-block;vertical-align:middle;font-size:13px;line-height:20px}
.wrap .detail-product-info-label{color:#71797F;width:50px}
.wrap .detail-product-info-detail{color:#232628}
.wrap .detail-product-content{padding:40px 115px 95px;text-align:center}
.wrap .detail-product-content img{max-width:100%}
.wrap .detail-product-content .disseminate{width:750px;margin:20px auto 0;background:#f7f9fa}
.wrap .detail-product-content .disseminate .point-title{position:relative;padding:24px 16px 14px;text-align:center;font-size:26px;line-height:40px;font-weight:bold;overflow:hidden;-o-text-overflow:ellipsis;text-overflow:ellipsis;white-space:nowrap}
.wrap .detail-product-content .disseminate .point-body{padding-bottom:18px}
.wrap .detail-product-content .disseminate .point-body p{width:686px;margin:0 auto;font-size:12px}
.wrap .detail-product-content .disseminate .point-body img{margin-top:20px}
.wrap .detail-comment{overflow:hidden}
.wrap .detail-comment-hd{background:#F7F9FA;padding:15px 30px;color:#232628}
.wrap .detail-comment-bd{padding-bottom:20px;background:#FFFFFF;border-radius:0px 0px 8px 8px;border:1px solid #F7F9FA}
.wrap .detail-comment-none{padding:24px;font-size:13px;text-align:center}
.wrap .detail-comment-none img{width:126px}
.wrap .detail-comment-none p{margin-top:22px}
.wrap .detail-comment-radio{display:inline-block}
.wrap .detail-comment-radio-item{font-size:14px;line-height:20px}
.wrap .detail-comment-radio-item+.detail-comment-radio-item{margin-left:45px}
.wrap .detail-comment-radio-item .iconfont{font-size:12px;color:#CCCCCC}
.wrap .detail-comment-radio-item .type{margin-left:4px}
.wrap .detail-comment-radio-item.active{font-weight:bold;color:#FF734C}
.wrap .detail-comment-radio-item.active .iconfont{color:#FF734C}
.wrap .detail-comment-radio-item.active .nums{color:#ff734c}
.wrap .detail-comment-navi{float:right}
.wrap .detail-comment-navi-item{font-size:14px;line-height:20px}
.wrap .detail-comment-navi-item+.detail-comment-navi-item{margin-left:45px}
.wrap .detail-comment-item{padding:20px 0}
.wrap .detail-comment-item:last-child{border-bottom:none}
.wrap .detail-comment-item-user{display:inline-block;width:190px;padding-left:20px;text-align:center;vertical-align:top}
.wrap .detail-comment-item-avatar{padding:0 10px}
.wrap .detail-comment-item-avatar img{width:48px;height:48px;vertical-align:middle;border-radius:50%;overflow:hidden}
.wrap .detail-comment-item-avatar span{display:inline-block;vertical-align:middle;width:100px;font-size:13px;line-height:18px;color:rgba(35,38,40,0.7);overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
.wrap .detail-comment-item-member{text-align:left}
.wrap .detail-comment-item-member img{width:64px}
.wrap .detail-comment-item-main{display:inline-block}
.wrap .detail-comment-item-rating span.icon{width:96px;height:16px}
.wrap .detail-comment-item-rating span.icon-commentstar{background-position:-106px -48px}
.wrap .detail-comment-item-content{width:740px;margin-top:6px}
.wrap .detail-comment-item-content p{font-size:13px;line-height:18px;color:#232628}
.wrap .detail-comment-item-imglist{margin-top:6px}
.wrap .detail-comment-item-img{display:inline-block;width:80px;height:80px;padding:0;line-height:78px;margin-right:10px;vertical-align:middle;overflow:hidden;text-align:center;border:1px solid #E9ECF0}
.wrap .detail-comment-item-img img{object-fit:contain;width:100%;height:100%;max-width:100%;max-height:100%;vertical-align:middle}
.wrap .detail-comment-item-imgviewer{position:relative;margin-top:12px;text-align:center;background:#F7F9FA;line-height:400px}
.wrap .detail-comment-item-imgviewer img{max-width:100%;max-height:100%;object-fit:contain}
.wrap .detail-comment-item-imgviewer .tm-m-photo-viewer-navleft,.wrap .detail-comment-item-imgviewer .tm-m-photo-viewer-navright{position:absolute;width:25%;top:0;bottom:0}
.wrap .detail-comment-item-imgviewer .tm-m-photo-viewer-navleft span.icon,.wrap .detail-comment-item-imgviewer .tm-m-photo-viewer-navright span.icon{position:absolute;width:36px;height:36px;border-radius:50%;top:50%;margin-top:-18px}
.wrap .detail-comment-item-imgviewer .tm-m-photo-viewer-navleft{left:0}
.wrap .detail-comment-item-imgviewer .tm-m-photo-viewer-navleft span.icon{left:0;background-position:0 -426px}
.wrap .detail-comment-item-imgviewer .tm-m-photo-viewer-navright{right:0}
.wrap .detail-comment-item-imgviewer .tm-m-photo-viewer-navright span.icon{right:0;background-position:-46px -426px}
.wrap .detail-comment-item-closeview{position:absolute;top:4px;right:4px;width:64px;height:20px;color:#fff;font-size:12px;line-height:20px;text-align:center;background:rgba(113,121,127,0.4);border-radius:10px;cursor:pointer;z-index:99}
.wrap .detail-comment-item-btm{margin-top:10px}
.wrap .detail-comment-item-addr,.wrap .detail-comment-item-time{margin-right:12px;font-size:12px;color:#B4BABF}
.wrap .detail-comment .mypage{text-align:center}
.wrap .detail-comment .mypage .layui-laypage-mytheme .layui-laypage-curr .layui-laypage-em{background-color:#ff734c}
.wrap .detail-comment .mypage .layui-laypage-mytheme.layui-laypage a,.wrap .detail-comment .mypage .layui-laypage-mytheme.layui-laypage span{margin:0 4px;border-radius:4px;overflow:hidden}
.wrap .detail-comment .mypage .layui-laypage-mytheme.layui-laypage span{border:none}
.wrap .detail-comment .mypage .layui-laypage-mytheme.layui-laypage a:hover{background:rgba(35,38,51,0.1)}
.wrap .detail-question{overflow:hidden}
.wrap .detail-question-content{background-color:#F7F9FA;padding:14px 30px 10px}
.wrap .detail-question-service{margin-bottom:17px}
.wrap .detail-question-service span{display:inline-block;font-size:14px;line-height:20px;color:#232628;vertical-align:middle}
.wrap .detail-question-service a{display:inline-block;vertical-align:middle;margin-left:6px;padding:0px 11px;font-size:13px;height:27px;line-height:27px;background:#FF734D;border-radius:14px;color:#fff;font-weight:500}
.wrap .detail-question-service a .iconfont{color:#fff}
.wrap .detail-question-item{margin-bottom:19px;color:#232628}
.wrap .detail-question-item-q{font-size:15px;line-height:20px;font-weight:600}
.wrap .detail-question-item-q .iconfont{font-size:16px;color:#FD9477;margin-right:10px;vertical-align:top}
.wrap .detail-question-item-a{margin-top:2px;padding-left:26px;font-size:13px;line-height:18px}
.wrap .detail-question-item-a a{margin-left:2px;text-decoration:underline;color:#ff734c}
.wrap .detail-service{overflow:hidden}
.wrap .detail-service .detail-bd{padding-bottom:30px}
.wrap .detail-service-tab{padding:15px 0;background:#F7F9FA}
.wrap .detail-service-tab ul li{display:inline-block;width:16.66666667%;text-align:center;vertical-align:top}
.wrap .detail-service-tab ul li a{display:inline-block;width:100%;height:100%}
.wrap .detail-service-tab ul li span.icon{width:40px;height:40px}
.wrap .detail-service-tab ul li span.icon-service1{background-position:-852px -136px}
.wrap .detail-service-tab ul li span.icon-service2{background-position:-1052px -136px}
.wrap .detail-service-tab ul li span.icon-service3{background-position:-1102px -136px}
.wrap .detail-service-tab ul li span.icon-service4{background-position:-952px -136px}
.wrap .detail-service-tab ul li span.icon-service5{background-position:-902px -136px}
.wrap .detail-service-tab ul li span.icon-service6{background-position:-1002px -136px}
.wrap .detail-service-tab ul li.active span.icon-service1{background-position:0 -136px}
.wrap .detail-service-tab ul li.active span.icon-service2{background-position:-200px -136px}
.wrap .detail-service-tab ul li.active span.icon-service3{background-position:-250px -136px}
.wrap .detail-service-tab ul li.active span.icon-service4{background-position:-100px -136px}
.wrap .detail-service-tab ul li.active span.icon-service5{background-position:-50px -136px}
.wrap .detail-service-tab ul li.active span.icon-service6{background-position:-150px -136px}
.wrap .detail-service-tab ul li p{font-size:14px;color:#232628;line-height:18px;margin-top:14px;overflow:hidden;-o-text-overflow:ellipsis;text-overflow:ellipsis;white-space:nowrap}
.wrap .detail-service-content{overflow:hidden;text-align:center}
.wrap .detail-service-content-item{display:none}
.wrap .detail-service-content-item.active{display:block}
.star-item{display:inline-block;vertical-align:middle;width:16px;height:16px;background-size:cover;background-repeat:no-repeat;margin-right:4px;background-image:url("//img02.hua.com/m/icon/star_red.png")}
.detail-comment-item-main .star.stars5 .star-item:nth-child(5)~.star-item{display:none}
.detail-comment-item-main .star.stars4 .star-item:nth-child(4)~.star-item{display:none}
.detail-comment-item-main .star.stars3 .star-item:nth-child(3)~.star-item{display:none}
.detail-comment-item-main .star.stars2 .star-item:nth-child(2)~.star-item{display:none}
.detail-comment-item-main .star.stars1 .star-item:nth-child(1)~.star-item{display:none}
.com-modal .modal-dialog{margin-right:auto;margin-left:auto;border:4px solid rgba(170,170,170,0.3)}
.com-modal .close{margin-top:7px;outline:none}
.com-modal .modal-content{border:1px solid #ffdcc6;border-radius:0;-webkit-box-shadow:none;box-shadow:none}
.com-modal .modal-header{padding:0 15px;border-bottom:0;background:#ffe8d9 url(../img/modal_header_bg.png) 0 0 repeat-x}
.com-modal .modal-header .modal-title{font-family:tahoma,arial,'Hiragino Sans GB','\5FAE\8F6F\96C5\9ED1',sans-serif;font-size:16px;line-height:40px;height:40px;color:#585657}
.com-modal .modal-body{padding:0}
.com-modal .modal-body iframe{display:block}
#loginModal .modal-dialog{width:360px}
#loginModal .login-box{padding-top:10px;padding-bottom:10px}
#loginModal .btn{margin-top:15px}
#loginModal .btn-info{color:#ff6a00;border-color:#fbf0e8;background-color:#fbf0e8}
#loginModal .btn-info:hover,#loginModal .btn-info:focus{background-color:#f6e1d2}
#loginModal .other-login{margin-top:20px}
#loginModal.com-modal .modal-header{background:#fff}
#loginModal.com-modal .modal-header .modal-title{height:36px;line-height:36px}
#loginModal.com-modal .modal-dialog{border:none}
#loginModal.com-modal .modal-content{border:none;border-radius:8px;overflow:hidden}
.hide{display:none !important}
.stock-address{float:left;position:relative}
.stock-address:after{content:"";display:block;height:0;clear:both}
.stock-address .hide{display:none}
.stock-address .head{background:#fff;cursor:pointer;height:23px;border:1px solid transparent;border-bottom:none;padding-bottom:1px}
.stock-address.open .head{position:relative;z-index:2009;border-color:#ccc}
.stock-address.open .content{display:block}
.stock-address.open .arrow{-webkit-transform:rotate(180deg);-o-transform:rotate(180deg);-ms-transform:rotate(180deg);-moz-transform:rotate(180deg);transform:rotate(180deg)}
.stock-address .arrow{float:left;width:13px;height:7px;background:url(//img02.hua.com/pc/Images/arr-close.png) no-repeat center center;background-size:contain;margin:9px 10px 0 10px;transition:.2s ease;-ms-transition:.2s ease;-moz-transition:.2s ease;-webkit-transition:.2s ease;-o-transition:.2s ease}
.stock-address .text{float:left;padding-left:10px;line-height:25px;color:#000000}
.stock-address .content{display:none;position:absolute;left:0;top:22px;z-index:2000;width:380px;background:#fff;padding-top:20px;border:1px solid #ccc}
.stock-address .content dl.address-select{display:block;margin:0 10px;padding-bottom:15px;color:#666}
.stock-address .content dl.address-select dt{float:none !important}
.stock-address .content dl.address-select .stock-address-list{margin:0;padding-top:10px}
.stock-address .address-tab .tab{padding:0;margin:0}
.stock-address .address-tab .tab li{cursor:pointer}
.stock-address .address-tab .tab-con{border-top:2px solid #ff6a00;margin-top:-2px;padding-top:10px}
.stock-address .address-tab .tab-con li{list-style-type:none;display:inline-block;width:7em;margin-bottom:5px;cursor:pointer;color:#666;padding:0 2px}
.stock-address .address-tab .tab-con li:hover{background:#ff6a00;color:#fff}
.stock-address .address-tab>ul>li{display:inline-block;margin-right:5px;border:1px solid #ddd;padding:2px 10px;background:#fff;color:#005aa0;font:700 14px 'microsoft yahei';border-bottom:none}
.stock-address .address-tab>ul>li.current{border:2px solid #ff6a00;border-bottom:2px solid #fff}
.stock-address-list .tab-con .item{min-height:176px}
.invalid-ie{position:fixed;top:0;left:0;right:0;bottom:0;width:100%;height:100%;z-index:1001}
.invalid-ie-cover{background-color:#232628;opacity:0.5;filter:alpha(opacity=50);width:100%;height:100%}
.invalid-ie-content{position:fixed;width:602px;height:564px;top:150px;left:50%;margin-left:-282px}
.invalid-url-ie,.invalid-url-google{position:absolute;top:174px;left:50%;height:30px;z-index:1005;background:url(about:blank)}
.invalid-url-ie{margin-left:-150px;width:120px}
.invalid-url-google{margin-left:-8px;width:160px}
ul{padding:0}
.tm-m-photos,.tm-m-photos-thumb{zoom:1}
.tm-m-photos-thumb{list-style-type:none}
.tm-m-photos-thumb li{float:left;border:2px solid #f2f2f2;padding:2px;margin-right:8px;position:relative;transition:border-color .2s ease-out}
.tm-m-photos-thumb img{cursor:url(https://img02.hua.com/pc/assets/img/img-zoom-in.png),url(https://assets.alicdn.com/img/common/zoom_in.cur),auto}
.tm-m-photo-viewer,.tm-m-photo-viewer img,.tm-m-photos-thumb .tm-current img{cursor:url(https://img02.hua.com/pc/assets/img/img-zoom-out.png),url(https://assets.alicdn.com/img/common/zoom_out.cur),auto}
.tm-m-photo-viewer{position:relative;background:#F7F9FA;width:0;height:0;overflow:hidden;display:none;transition:all 0.2s ease-in}
.tm-m-photo-viewer-navleft,.tm-m-photo-viewer-navright{top:0;bottom:0;position:absolute;width:30%;background:url(https://assets.alicdn.com/s.gif)}
.tm-m-photo-viewer-navleft{left:0}
.tm-m-photo-viewer-navright{right:0}
.tm-m-photo-viewer-navleft i,.tm-m-photo-viewer-navright i{position:absolute;display:none;top:50%;width:36px;height:36px;margin-top:-18px;border-radius:50%;background-color:#fff;background-size:16px 16px;background-repeat:no-repeat;background-position:center center;box-shadow:0px 2px 6px 0px rgba(222,226,229,1)}
.tm-m-photo-viewer-navleft i{left:8px;background-image:url(https://img02.hua.com/pc/pimg/aboutus/swiper_arrow_left.png)}
.tm-m-photo-viewer-navright i{right:8px;background-image:url(https://img02.hua.com/pc/pimg/aboutus/swiper_arrow_right.png)}
.modal-open{overflow:hidden}
.modal{display:none;overflow:hidden;position:fixed;top:0;right:0;bottom:0;left:0;z-index:9999;-webkit-overflow-scrolling:touch;outline:0}
.modal.fade .modal-dialog{-webkit-transform:translate(0,-25%);-ms-transform:translate(0,-25%);transform:translate(0,-25%);-webkit-transition:-webkit-transform 0.3s ease-out;-o-transition:-o-transform 0.3s ease-out;transition:-webkit-transform 0.3s ease-out;-o-transition:transform 0.3s ease-out;transition:transform 0.3s ease-out;transition:transform 0.3s ease-out,-webkit-transform 0.3s ease-out}
.modal.in .modal-dialog{-webkit-transform:translate(0,0);-ms-transform:translate(0,0);transform:translate(0,0)}
.modal-open .modal{overflow-x:hidden;overflow-y:auto}
.modal-dialog{position:relative;width:auto;margin:10px}
.modal-content{position:relative;background-color:#ffffff;border:1px solid #999999;border:1px solid rgba(0,0,0,0.2);border-radius:6px;-webkit-box-shadow:0 3px 9px rgba(0,0,0,0.5);box-shadow:0 3px 9px rgba(0,0,0,0.5);background-clip:padding-box;outline:0}
.modal-backdrop{position:fixed;top:0;right:0;bottom:0;left:0;z-index:1040;background-color:#000000}
.modal-backdrop.fade{opacity:0;filter:alpha(opacity=0)}
.modal-backdrop.in{opacity:0.5;filter:alpha(opacity=50)}
.modal-header{padding:15px;border-bottom:1px solid #e5e5e5;min-height:16.42857143px}
.modal-title{margin:0;line-height:1.42857143}
.modal-body{position:relative;padding:15px}
.modal-footer{padding:15px;text-align:right;border-top:1px solid #e5e5e5}
.modal-footer .btn + .btn{margin-left:5px;margin-bottom:0}
.modal-footer .btn-group .btn + .btn{margin-left:-1px}
.modal-footer .btn-block + .btn-block{margin-left:0}
.modal-scrollbar-measure{position:absolute;top:-9999px;width:50px;height:50px;overflow:scroll}
@media (min-width:768px){.modal-dialog{width:600px;margin:30px auto}
.modal-content{-webkit-box-shadow:0 5px 15px rgba(0,0,0,0.5);box-shadow:0 5px 15px rgba(0,0,0,0.5)}
.modal-sm{width:300px}
}@media (min-width:992px){.modal-lg{width:900px}
}.close{float:right;font-size:21px;font-weight:bold;line-height:1;color:#000000;text-shadow:0 1px 0 #ffffff;opacity:0.2;filter:alpha(opacity=20)}
.close:hover,.close:focus{color:#000000;text-decoration:none;cursor:pointer;opacity:0.5;filter:alpha(opacity=50)}
button.close{padding:0;cursor:pointer;background:transparent;border:0;-webkit-appearance:none}
